.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(175, 237, 211);
    -fx-background: rgb(225, 228, 203);
}

.button{
    -fx-text-fill: #006464;
    -fx-background-color: rgb(181, 207, 140);
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.table-view{
    -fx-font-family: "Courier New";
    -fx-font-size: 8pt;
}

.title {
    -fx-font: bold italic 24pt "Arial";
    -fx-text-fill: #006464;
}

.sheetTitle {
    -fx-font: bold 20pt "Arial";
    -fx-text-fill: #006464;
}
